/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.02.2019, 14:32:17
    Author     : sasha
*/

#desc{
    margin: 100px 0 0 100px;
    width: 302px;
    height: 602px;
    border: 1px solid #000;
    background: linear-gradient(120deg, #FFFFFF, #39D6EF); 
}

.rect{
    width: 30px;
    height: 30px;
    background-image: none;
    float: left;
}

.rect2{
    width: 30px;
    height: 30px;
    background-image: url(../1.png);
    float: left;
}