/* 
    Created on : 14.08.2018, 15:13:30
    Author     : mikima
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    /*background-image: url(../source/1920x1080_1.png);*/
    font-size: 16pt;
}

.cols{
    display: block;
    float: left;
}

.cols.col-1  { width: 8.33333333333%; }
.cols.col-2  { width: 16.6666666667%; }
.cols.col-3  { width: 25%; }
.cols.col-4  { width: 33.3333333333%; }
.cols.col-5  { width: 41.6666666667%; }
.cols.col-6  { width: 50%; }
.cols.col-7  { width: 58.3333333333%; }
.cols.col-8  { width: 66.6666666667%; }
.cols.col-9  { width: 75%; }
.cols.col-10 { width: 83.3333333333%; }
.cols.col-11 { width: 91.6666666667%; }
.cols.col-12 { width: 100%; }

.clear{
    clear: both;
}

.conteiner{
    width: 700px;
    padding: 10px 0 10px 0;
    font-size: 8pt; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
}

.h30{
    height: 30px;
}

.scene{
    width: 610px;
    margin: 0 auto;
}

#desc, #desc2{
    display: inline-block;
    width: 300px;
    height: 600px;
    border: 1px solid #000;
}

#desc2{
    margin: 0 50px 0 0;
}

.rect, .rect2{
    float: left;
}

#mes{
    margin: 10px 0 10px 0;
    font-size: 16pt;
    color: white;
}
